<!DOCTYPE html>
<html>
  <head>
    <title>Superblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <link rel="stylesheet" href="adubb-blog-cs-layout/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="adubb-blog-cs-layout/assets/css/vanilla-zoom.min.css">

    


  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="adubb-blog-cs-layout/assets/js/vanilla-zoom.js"></script>
    <script src="adubb-blog-cs-layout/assets/js/theme.js"></script>
  </footer>
</html>
